.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.memoir-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.memoir-card-link {
  text-decoration: none;
}

.memoir-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
  width: 300px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

.memoir-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.memoir-card p {
  font-size: 1rem;
}

.memoir-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.add-memoir-form {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 20px auto;
  width: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-memoir-form input,
.add-memoir-form textarea,
.add-memoir-form button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.add-memoir-form button {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}
